<div class="products-menu">
  <input placeholder="Search" #searchBox id="search-box" (input)="search(searchBox.value)" />
  <a class="products" *ngFor="let product of products">
    <img src="assets/main-frog.png">
    <a class="product-name">
      {{product.name}} 
    </a>
    <a class="product-price">
      ${{product.price}}
    </a>
    <a class="product-description">
      {{product.description}} 
    </a>
    <label>Reviews</label>
    <a class="reviews" *ngFor="let review of product.reviews">
      {{review}}
    </a>
    <input id="new-review" #reviewToAdd placeholder="Enter review here">
    <button type="button" class="add-button" (click)="addReview(reviewToAdd.value, product.id); reviewToAdd.value=''">
      Add Review
    </button>
    <button type="button" class="add-button" (click)="addToCart(product.id);">Add To Cart</button>
  </a>
</div>
