<div class="products-menu">
  <input #searchBox id="search-box" (input)="search(searchBox.value)" placeholder="Search">
  <a class="products" *ngFor="let product of products">
    <a class="product-info">
      {{product.name}}: ${{product.price}}: {{product.description}}
    </a>
    Reviews:
    <a class="reviews" *ngFor="let review of product.reviews">
      {{review}}
    </a>
    <input id="new-review" #reviewToAdd placeholder="Enter review here">
    <button type="button" class="add-button" (click)="addReview(reviewToAdd.value, product.id); reviewToAdd.value=''">
      Add Review
    </button>
    <button type="button" class="add-button" (click)="addToCart(product.id);">Add To Cart</button>
  </a>
</div>
