/* productsComponent's private CSS styles */
@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

.products-menu {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-family: myFont;
}


.products {
  margin-top: 4%;
  list-style-type: none;
  padding: 0;
  width: 15em;
  margin-top: 4%;
  text-align: center;
}

.products-menu label {
  margin-top: 3%;
  font-size: large;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.products #new-review {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.products img {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  text-align: center;
  font-family: myFont;
  font-size: large;
}

.products li {
  position: relative;
  cursor: pointer;
}

.products li:hover {
  left: .1em;
}

.products a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  border-radius: 4px;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.product-info a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em;
  height: 1.6em;
  border-radius: 4px;
  display: block;
}

.product-name {
  text-align: center;
  font-size: xx-large;
}

.product-price {
  text-align: center;
  font-size: x-large;
}

.product-description {
  text-align: center;
}


.products a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.products a:active {
  background-color: #525252;
  color: #fafafa;
}

.products .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.add-button {
 padding: .5rem 1.5rem;
 font-size: 1rem;
 margin-bottom: 2rem;
 margin-left: auto;
 margin-right: auto;
 display: block;
 font-family: myFont;
}

.add-button:hover {
  color: white;
  background-color: #42545C;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 5px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #525252;
  color: white;
}