/* AppComponent's private CSS styles */
@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

h1 {
  margin-bottom: 0;
  font-family: myFont;
  font-size:xxx-large;
  color:#3d683c;
  text-align: center;
  width: 100%;
  left:50%;
}



nav {
  width: 10%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #3d683c;
  color: white;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font-family: myFont;
}

nav a:hover {
  color: rgb(255, 255, 255);
  background-color: #42545C;
}
nav a:active {
  background-color: black;
}