
/* DashboardComponent's private CSS styles */
@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

h2 {

  text-align: center;
}

.product-price {
  font-size: x-large;
}

.products img {
  margin-top: 3%;
  width : 25%;
  display : block;
  margin-left: auto;
  margin-right: auto;
}

.product-name {
  font-size: xxx-large;
}

.products-menu {
  font-family: myFont;
  padding: 0;
  margin: auto;
  width: 30%;
}

a {
  background-color: #3f525c;
  border-radius: 1%;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  text-align: center;
  width: 100%;
  min-width: 70px;
  box-sizing: border-box;
  margin: 1%;
  /* flexbox */
}

.products a{
  background: none;
}