/* productsComponent's private CSS styles */
@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

.products {
  font-family: myFont;
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

h2 {
  font-size: xxx-large;
  border: #2c3a41;
  font-family: myFont;
  display: block;
  width:100%;
  text-align: center;
}

div {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}

input {
  display: block;
  width: 60%;
  padding: .5rem;
  margin: 1rem 0;
  box-sizing: border-box;
  font-family: myFont;
  font-size: large;
}

label {
  font-size:xx-large;
  font-family: myFont;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  text-align: center;
}

.products li {
  position: relative;
  cursor: pointer;
}

.products li:hover {
  left: .1em;
}

.products a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .2em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
  display: block;
  width: 100%;
  font-size: 20px;
  text-align: center;
}


.products a:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
}

.products a:active {
  background-color: #525252;
  color: #fafafa;
}

.add-button {
  font-family: myFont;
  padding: .5rem 1.5rem;
  font-size: 20px;
  margin: auto;
}

.add-button:hover {
  color: white;
  background-color: #3d683c;
}

button.delete {
  position: absolute;
  left: 210px;
  top: 7px;
  background-color: white;
  color:  #525252;
  font-size: 1.1rem;
  margin: 0;
  padding: 1px 10px 3px 10px;
}

button.delete:hover {
  background-color: #3d683c;
  color: white;
}

label{
  font-family: myFont;
  color: white;
  text-shadow: -1px 1px 2px #3d683c, 1px 1px 2px #3d683c, 1px -1px 0 #3d683c, -1px -1px 0 #3d683c;
  font-size: 20px;
}

h2{
  font-family: myFont;
  color: white;
  text-shadow: -1px 1px 2px #3d683c, 1px 1px 2px #3d683c, 1px -1px 0 #3d683c, -1px -1px 0 #3d683c;
  font-size: 30px;
}

textarea{
  font-family: Arial, Helvetica, sans-serif;
}

#wrap{
  display: flex;
  gap: 20rem;
  justify-content: center;
  align-items:center;
}
