<div *ngIf="product">
  <h2>{{product.name | uppercase}}</h2>
  <div id="details">
    <label for="product-name">Product Name: </label>
    <input id="product-name" [(ngModel)]="product.name" placeholder="product name"/>


    <label for="product-price">Product Price: </label>
    <input id="product-price" [(ngModel)]="product.price" placeholder="product price"/>

    <label for="product-description">Product Descrption: </label>
    <br/>
    <textarea id = "product-description" [(ngModel)]="product.description" placeholder="product description" 
    rows = "10" cols = "55"></textarea>

    <div id ="buttons">
      <button type="button" (click)="goBack()">Return</button>
      <button type="button" (click)="save()">Save</button>
    </div>
  </div>
</div>