@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: myFont;
  text-align: center;
  color: rgb(209, 255, 194);
}

input {
  display: block;
  width: 25%;
  padding: .2rem;
  box-sizing: content-box;
  display: grid;
  place-items: center;
}

button{
  margin-top: 10px;
  font-size: xx-large;
  font-family: myFont;
}
