@font-face {
  font-family: myFont;
  src: url(Frog.otf);
}

.products {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.products li {
  position: relative;
  cursor: pointer;
}

.products li:hover {
  left: .1em;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: myFont;
  text-align: center;
  color: rgb(209, 255, 194);
}

input {
  display: block;
  width: 25%;
  padding: .2rem;
  box-sizing: content-box;
  display: grid;
  place-items: center;
}

button{
  margin-top: 10px;
}
